<app-markdown-renderer [md]="'reactive-forms'" />
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Signal Form - Basic</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form column novalidate>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" [formField]="personForm.name" />
      </mat-form-field>
      @if (personForm.name().touched() && personForm.name().invalid()) {
        @for (err of personForm.name().errors(); track err.kind) {
          <div class="error">{{ err.message }}</div>
        }
      }

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder="Last Name" [formField]="personForm.lastName" />
      </mat-form-field>
      @if (personForm.lastName().touched() && personForm.lastName().invalid()) {
        @for (err of personForm.lastName().errors(); track err.kind) {
          <div class="error">{{ err.message }}</div>
        }
      }

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" placeholder="Age" [formField]="personForm.age" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input matInput type="text" placeholder="Email" [formField]="personForm.email" />
      </mat-form-field>
      @if (personForm.email().touched() && personForm.email().invalid()) {
        @for (err of personForm.email().errors(); track err.kind) {
          <div class="error">{{ err.message }}</div>
        }
      }

      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select placeholder="Gender" [formField]="personForm.gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="not set">Not set</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-radio-group aria-label="Wealth" name="wealth" [formField]="personForm.wealth">
        <mat-label>Wealth:</mat-label>
        @for (opt of wealthOpts; track opt) {
          <mat-radio-button [value]="opt">{{ opt }}</mat-radio-button>
        }
      </mat-radio-group>

      @if (personForm().invalid()) {
        <button mat-raised-button color="primary" type="button" (click)="saveForLater()">Save for later</button>
      }
      <button mat-raised-button color="primary" type="button" (click)="savePerson()" [disabled]="personForm().invalid()">Submit</button>
    </form>
  </mat-card-content>
</mat-card>

