<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ food().name }} - {{ food().price }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <div class="imgContainer">
      <img
        matCardImage
        ngSrc="{{ food().pictureUrl }}"
        width="150"
        height="110"
        priority
      />
    </div>
    <div
      class="textContainer"
      [innerHTML]="food().description"
      style="grid-area: text"
    ></div>
    <div class="actionsContainer" style="grid-area: actions">
      <app-number-picker        
        [quantity]="inCart()" (quantityChange)="handleAmountChange($event)">
      </app-number-picker>
      <button [routerLink]="['', food().id]">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>