<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div (click)="toggleMenu()" class="hamburgerMenu">
      <mat-icon color="accent">menu</mat-icon>
    </div>
    <div><img ngSrc="/images/angular.svg" width="50" height="50" alt="Angular logo" /></div>
    <div class="menuContainer">
      @for (mi of ms.topItems.value(); track mi) {
        <div
          routerLink="{{ '/' + mi.url }}"
          routerLinkActive="navLinkActive"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navLink"
          >
          {{ mi.label }}
        </div>
      }
    </div>
    <div (click)="toggleApps()" class="hamburgerMenu">
      <mat-icon color="accent">apps</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
