<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button mat-mini-fab matTooltip="Toggle the SideNav" (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Toggle Markdown Guide" (click)="showGuide()">
      <mat-icon>description</mat-icon>
    </button>
    @if (markdownPaneVisible()) {
      <button mat-mini-fab matTooltip="Switch to Editor" (click)="showEditor()">
        <mat-icon>edit_note</mat-icon>
      </button>
    }
  </mat-toolbar-row>
</mat-toolbar>
