mat-expansion-panel {
    margin-bottom: var(--gap-medium);
}

mat-panel-title {
  color: var(--color-font);
}

:host ::ng-deep .mermaid {
  display: flex;
  justify-content: center;
  width: 100%;
  
  svg {
    max-width: 100%;
  }
}
