<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Skill Detail</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="id"
        [value]="skill().id"
        readonly
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Name"
        [value]="skill().name"
        #nameInput
        (input)="updateName(nameInput.value)"
      />
    </mat-form-field>
    <mat-slide-toggle
      [checked]="skill().completed"
      (change)="updateCompleted($event.checked)"
    >Complete</mat-slide-toggle>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="doCancel()" color="primary">Cancel</button>
    <button mat-raised-button (click)="saveSkill()" color="primary">Save</button>
  </mat-card-actions>
</mat-card>
