.skillrow {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  border-bottom: 1px solid #8d6e63;
}

.id {
  width: 50px;
  padding-left: 2rem
}

.name {
  flex: 3;
  padding-left: 2rem
}

.completed {
  flex: 2;
}

.cmd {
  flex: 1;
  text-align: end;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
