<form [formGroup]="skillForm">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ isNew ? 'Add Skill' : 'Edit Skill' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-slide-toggle formControlName="completed">Completed</mat-slide-toggle>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="doCancel()">Cancel</button>
      <button mat-raised-button (click)="saveSkill()" color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
