.mat-mdc-card-content {
  min-height: 10rem;
}

.mat-mdc-raised-button {
  line-height: 24px;
  margin: 0.2rem;
}

.preview {
  border: 1px solid var(--mat-sys-outline);
  border-radius: 4px;
  padding: 1rem;
  min-height: 4rem;
}
