<div column>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="comment.title" />
  </mat-form-field>
  <div rowgap>
    <mat-form-field style="flex:1">
      <mat-label>Comment (Markdown)</mat-label>
      <textarea
        matInput
        cols="30"
        rows="8"
        [(ngModel)]="comment.comment"
      ></textarea>
    </mat-form-field>
    <div style="flex:1; padding: 0.5rem; border: 1px solid rgba(0,0,0,0.12); border-radius: 4px; min-height: 160px;">
      <markdown [data]="comment.comment" />
    </div>
  </div>
</div>
