<app-markdown-renderer [md]="'form-errors'" />
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Skills Sheet - Signal Forms Errors</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" [formField]="skillForm.name" placeholder="Enter Name" />
    </mat-form-field>
    @if (skillForm.name().touched() && skillForm.name().invalid()) {
      @for (err of skillForm.name().errors(); track err.kind) {
        <div class="error">{{ err.message }}</div>
      }
    }

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" [formField]="skillForm.age" placeholder="Enter Age" />
    </mat-form-field>
    @if (skillForm.age().touched() && skillForm.age().invalid()) {
      @for (err of skillForm.age().errors(); track err.kind) {
        <div class="error">{{ err.message }}</div>
      }
    }

    @if (skillForm.name().valid()) {
      <div class="border">
        <h3>Skills:</h3>
        @for (item of skillForm.skills; track $index; let i = $index) {
          <div row>
            <mat-form-field>
              <mat-label>Skill Name</mat-label>
              <input matInput [formField]="item.skillName" placeholder="Skill Name" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Years</mat-label>
              <input matInput [formField]="item.years" placeholder="Years" />
            </mat-form-field>
          </div>
        }
      </div>
    }
  </mat-card-content>
  <mat-card-actions align="end">
    @if (skillForm.name().valid()) {
      <button mat-raised-button (click)="addSkill()" color="accent">Add Skill</button>
    }
    <button mat-raised-button type="button" (click)="saveForm()" color="accent">Save</button>
  </mat-card-actions>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>All Validation Errors</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <pre>{{ allErrors() | json }}</pre>
  </mat-card-content>
</mat-card>
